/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    font-family:"Consolas","Courier New",monospace;

    background:#070707;

}

/* ==========================
   BACKGROUND
========================== */

#background{

    position:fixed;

    inset:0;

    background:
        radial-gradient(circle at top,#222 0%,#111 20%,#070707 70%);

}

/* ==========================
   TERMINAL
========================== */

.terminal{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    width:900px;
    max-width:90%;

    height:550px;

    border-radius:18px;

    overflow:hidden;

    border:1px solid rgba(255,213,79,.25);

    background:#0b0b0b;

    box-shadow:

        0 0 20px rgba(255,213,79,.08),

        0 0 60px rgba(255,213,79,.04);

}

/* ==========================
   HEADER
========================== */

.header{

    height:55px;

    display:flex;

    align-items:center;

    gap:10px;

    padding:0 20px;

    background:#111;

    border-bottom:1px solid rgba(255,213,79,.15);

}

.dot{

    width:12px;

    height:12px;

    border-radius:50%;

}

.red{

    background:#ff5f56;

}

.yellow{

    background:#ffbd2f;

}

.green{

    background:#27c93f;

}

.title{

    margin-left:15px;

    color:#FFD54F;

    letter-spacing:3px;

    font-size:14px;

}

/* ==========================
   SCREEN
========================== */

#screen{

    padding:30px;

    color:#FFD54F;

    font-size:18px;

    line-height:34px;

    white-space:pre-wrap;

}

/* ==========================
   CURSOR
========================== */

.cursor{

    display:inline-block;

    width:10px;

    background:#FFD54F;

    margin-left:3px;

    animation:blink .8s infinite;

}

@keyframes blink{

    0%{
        opacity:1;
    }

    50%{
        opacity:0;
    }

    100%{
        opacity:1;
    }

}

/* ==========================
   CANVAS
========================== */

canvas{

    position:fixed;

    inset:0;

    pointer-events:none;

}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:700px){

    .terminal{

        height:420px;

    }

    #screen{

        font-size:15px;

        line-height:28px;

    }

}